{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <style>
        #compose-text {
            width: 400px;
            margin-bottom: 10px;
        }
    </style>

    <h1>All Posts</h1>
    {% if user.is_authenticated %}
        <div id="new-post" style="padding: 20px; margin: 10px; border: 1px solid #ccc;">
            <h2>New Post</h2>
            <form action="{% url 'post' %}" method="post" >
                {% csrf_token %}
                <textarea name="text" rows="3" cols="100"></textarea>
                <br/>
                <input class="btn btn-primary" type="submit" value="Post">
            </form>
        </div>
        {% for tweet in pages %}
            <div class="posts" style="padding: 20px; margin: 10px; border: 1px solid #ccc;">
                <h5> {{tweet.user}} </h2>
                <p style="margin: 5px 0;"> {{tweet.text}} </p>
                <p style="margin: 5px 0;"> {{tweet.date}} </p>
                <p id="like-count-{{ tweet.id }}" style="margin: 5px 0;">❤️ {{tweet.likes}} </p>
                {% if tweet.id in likes %}
                    <button data-liked="true" class="btn btn fa fa-thumbs-up like-btn" id="{{tweet.id}}" style="background-color:#ccc; color: green;"></button>
                {% else %}
                    <button data-liked="false" id="{{tweet.id}}" class="btn fa fa-thumbs-down unlike-btn" style="background-color:#ccc; color: red;"></button>
                    
                {% endif %}
                {% if user == tweet.user %}
                    <form id="edit-form" style="display: none;">
                        <div id="compose-edit">
                            <input type="hidden" value="{{tweet.id}}" id="post-id">
                            <textarea class="form-control" id="compose-text" placeholder="post" rows="3" ></textarea>
                            <input type="submit" class="btn btn-primary">
                        </div>
                    </form>
                    <button id="edit" class="btn btn-primary">Edit</button>
                {% endif %}
            </div>
        {% endfor %}
        
        <nav aria-label="..." style="margin-top: 70px;">
            <ul class="pagination d-flex justify-content-center">
                {% if pages.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ pages.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                {% endif %}

                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#"> {{pages.number}}  <span class="sr-only"></span></a>
                </li>

                {% if pages.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ pages.next_page_number }}" tabindex="-1" aria-disabled="true">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}

{% block script %}
        <script src="{% static 'network/index.js' %}"></script>
{% endblock %}